/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);

/* global */
html,body {
	overflow-x: hidden;
	background-color: #f1f0f0;
	font-family: 'gentium book basic', serif;
	font-size: 92%;
}

h1 {
	font-family: 'open sans', serif;
}

img,object,embed {
	max-width: 100%;
}

/* Hyphenation */
p {
	hyphens: auto;
	-webkit-hyphens: auto;
	-webkit-hyphenate-character: "\2010";
	-webkit-hyphenate-limit-after: 1;
	-webkit-hyphenate-limit-before: 3;
	-moz-hyphens: auto;
	text-align: justify;
}

/* Wrapper */
#wrapper {
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
	width: 100%;
	max-width: 490px;
}
@media only screen and (max-width: 767px) {
	#wrapper {
		margin-top: 0em;
		margin-bottom: 0em;
		max-width: none;
	}
}

/* Links */

a {
	color: #1430b8;
	text-decoration: none;
}
a:hover {
	color: #b83014;
}

/* Lists */

ol, ul {
	margin-left: 1em;
	padding-left: 1em;
}

/* Header */

#header {
	margin-bottom: 45px;
}
@media only screen and (max-width: 767px) {
	#header {
		margin-top:12px;
		margin-bottom: 0px;
		font-size: 315%;
		float:left;
		width: 100%;
	}
}

/* Container */
#container {
	width:100%;
	float:right;
}
@media only screen and (max-width: 767px) {
	#container {
		margin-top:10px;
	}
}

/* images */

img {
  border-radius:9px;
  box-shadow: 0px 1px 3px #555;
}

p,ul {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}