---
layout: base
title: Bicyclette.app — The Best App for Bike-Sharing — Free on the App Store
---

{% include en/header.html %}

<article>
<section class="description"> {% capture section %}
{% include en/home/justamap.mdown %}
{% endcapture %} {{ section | markdownify }} </section>
<section class="description"> {% capture section %}{% include en/home/alerts.mdown %}
{% endcapture %} {{ section | markdownify }} </section>

<section class="description" id="cities"> {% capture section %}
{% include en/home/cities.mdown %}
{% endcapture %} {{ section | markdownify }} </section>

<section id="techdetails"> {% capture section %}
{% include en/home/techdetails.mdown %}
{% endcapture %} {{ section | markdownify }} </section>

</article>
