[submodule "submodules/KVCMapping"]
	path = submodules/KVCMapping
	url = https://github.com/n-b/KVCMapping.git
[submodule "submodules/TransformerKit"]
	path = submodules/TransformerKit
	url = https://github.com/n-b/TransformerKit.git
[submodule "submodules/CoreDataModel"]
	path = submodules/CoreDataModel
	url = git://github.com/n-b/CoreDataModel.git
[submodule "submodules/Google-Analytics-SDK-for-iOS"]
	path = submodules/Google-Analytics-SDK-for-iOS
	url = git://github.com/n-b/Google-Analytics-SDK-for-iOS.git
