*.xcodeproj/*.perspectivev3
*.xcodeproj/*.pbxuser
VelibConvert/VelibConvert.xcodeproj/*.pbxuser
VelibConvert/VelibConvert.xcodeproj/*.perspectivev3
VelibConvert/build
build
Bicyclette.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
Bicyclette.xcodeproj/xcuserdata/*.xcuserdatad
.DS_Store
_DataGrabTempFolder/
_Archives/
