<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmiensVelamCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>49.8982</real>
			<key>longitude</key>
			<real>2.301</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>BesanconVelociteCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>47.2415</real>
			<key>longitude</key>
			<real>6.029</real>
			<key>distance</key>
			<integer>5000</integer>
		</dict>
	</dict>
	<key>BrisbaneCityCycleCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>-27.481</real>
			<key>longitude</key>
			<real>153.031</real>
			<key>distance</key>
			<integer>30000</integer>
		</dict>
	</dict>
	<key>BruxellesVilloCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>50.8482</real>
			<key>longitude</key>
			<real>4.357</real>
			<key>distance</key>
			<integer>20000</integer>
		</dict>
	</dict>
	<key>CergyPointoiseVelO2City</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>49.0331</real>
			<key>longitude</key>
			<real>2.0783</real>
			<key>distance</key>
			<integer>200000</integer>
		</dict>
	</dict>
	<key>CreteilCristoLibCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>48.7842</real>
			<key>longitude</key>
			<real>2.4537</real>
			<key>distance</key>
			<integer>5000</integer>
		</dict>
	</dict>
	<key>DublinBikesCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>53.347</real>
			<key>longitude</key>
			<real>-6.268</real>
			<key>distance</key>
			<integer>20000</integer>
		</dict>
	</dict>
	<key>GoteborgStyrStallCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>57.708</real>
			<key>longitude</key>
			<real>11.974</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>LjubljanaBicikeljCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>46.054</real>
			<key>longitude</key>
			<real>14.509</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>LuxembourgVelohCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>49.6116</real>
			<key>longitude</key>
			<real>6.138</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>LyonVelovCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>45.7611</real>
			<key>longitude</key>
			<real>4.835</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>MarseilleLeVeloCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>43.296</real>
			<key>longitude</key>
			<real>5.371</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>MulhouseVelociteCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>47.7476</real>
			<key>longitude</key>
			<real>7.3267</real>
			<key>distance</key>
			<integer>5000</integer>
		</dict>
	</dict>
	<key>NancyVelostanCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>48.6915</real>
			<key>longitude</key>
			<real>6.1841</real>
			<key>distance</key>
			<integer>5000</integer>
		</dict>
	</dict>
	<key>NantesBiclooCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>47.223</real>
			<key>longitude</key>
			<real>-1.546</real>
			<key>distance</key>
			<integer>20000</integer>
		</dict>
	</dict>
	<key>OrleansVeloPlusCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>47.908</real>
			<key>longitude</key>
			<real>1.908188</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>ParisVelibCity</key>
	<dict>
		<key>patches</key>
		<dict>
			<key>901</key>
			<dict>
				<key>codePostal</key>
				<string>75019</string>
			</dict>
			<key>903</key>
			<dict>
				<key>codePostal</key>
				<string>75013</string>
			</dict>
			<key>34011</key>
			<dict>
				<key>codePostal</key>
				<string>93400</string>
			</dict>
			<key>34003</key>
			<dict>
				<key>codePostal</key>
				<string>93400</string>
			</dict>
		</dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>48.856667</real>
			<key>longitude</key>
			<real>2.350833</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>RouenCyclicCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>49.4429</real>
			<key>longitude</key>
			<real>1.0973</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>RennesVeloStarCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>48.1136</real>
			<key>longitude</key>
			<real>-1.6752</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>SantanderTusBicCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>43.4629</real>
			<key>longitude</key>
			<real>-3.8085</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>SevillaSEViciCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>37.3901</real>
			<key>longitude</key>
			<real>-5.979</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>ToulouseVeloCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>43.6048</real>
			<key>longitude</key>
			<real>1.445</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>ToyamaCyclOcityCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>36.6935</real>
			<key>longitude</key>
			<real>137.211</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
	<key>ValenciaValenbisiCity</key>
	<dict>
		<key>limits</key>
		<dict>
			<key>latitude</key>
			<real>39.47</real>
			<key>longitude</key>
			<real>-0.366</real>
			<key>distance</key>
			<integer>10000</integer>
		</dict>
	</dict>
</dict>
</plist>
