<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Le Vélo</string>
	<key>carto</key>
	<string>http://www.levelo-mpm.fr/service/carto</string>
	<key>stationdetails</key>
	<string>http://www.levelo-mpm.fr/service/stationdetails/marseille/</string>
	<key>patchs</key>
	<dict/>
	<key>limits</key>
	<dict>
		<key>latitude</key>
		<real>43.296</real>
		<key>longitude</key>
		<real>5.371</real>
		<key>distance</key>
		<integer>10000</integer>
	</dict>
</dict>
</plist>
