<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>patches</key>
	<dict/>
	<key>limits</key>
	<dict>
		<key>latitude</key>
		<real>47.7476</real>
		<key>longitude</key>
		<real>7.3267</real>
		<key>distance</key>
		<integer>5000</integer>
	</dict>
</dict>
</plist>
