<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Vélô</string>
	<key>carto</key>
	<string>http://www.velo.toulouse.fr/service/carto/</string>
	<key>stationdetails</key>
	<string>http://www.velo.toulouse.fr/service/stationdetails/toulouse/</string>
	<key>patchs</key>
	<dict/>
	<key>limits</key>
	<dict>
		<key>latitude</key>
		<real>43.6048</real>
		<key>longitude</key>
		<real>1.445</real>
		<key>distance</key>
		<integer>10000</integer>
	</dict>
</dict>
</plist>
