<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>carto</key>
	<string>http://www.velib.paris.fr/service/carto</string>
	<key>stationdetails</key>
	<string>http://www.velib.paris.fr/service/stationdetails/paris/</string>
	<key>patchs</key>
	<dict>
		<key>901</key>
		<dict>
			<key>codePostal</key>
			<string>75019</string>
		</dict>
		<key>903</key>
		<dict>
			<key>codePostal</key>
			<string>75013</string>
		</dict>
		<key>10008</key>
		<dict>
			<key>lat</key>
			<real>8.87092</real>
			<key>lng</key>
			<real>2.358807</real>
		</dict>
		<key>10009</key>
		<dict>
			<key>lat</key>
			<real>8.87092</real>
			<key>lng</key>
			<real>2.358807</real>
		</dict>
		<key>9008</key>
		<dict>
			<key>lat</key>
			<real>8.87092</real>
			<key>lng</key>
			<real>2.358807</real>
		</dict>
		<key>9009</key>
		<dict>
			<key>lat</key>
			<real>8.87092</real>
			<key>lng</key>
			<real>2.358807</real>
		</dict>
		<key>11001</key>
		<dict>
			<key>lat</key>
			<real>8.87092</real>
			<key>lng</key>
			<real>2.358807</real>
		</dict>
		<key>11002</key>
		<dict>
			<key>lat</key>
			<real>8.87092</real>
			<key>lng</key>
			<real>2.358807</real>
		</dict>
	</dict>
	<key>limits</key>
	<dict>
		<key>latitude</key>
		<real>48.856667</real>
		<key>longitude</key>
		<real>2.350833</real>
		<key>distance</key>
		<integer>10000</integer>
	</dict>
</dict>
</plist>
