<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DatabaseReloadInterval</key>
	<integer>86400</integer>
	<key>StationRefreshInterval</key>
	<integer>10</integer>
	<key>DebugRemoveStore</key>
	<false/>
	<key>RadarDistance</key>
	<integer>200</integer>
	<key>DataUpdaterMaxConcurrentRequests</key>
	<integer>2</integer>
	<key>DataUpdaterDelayBetweenRequests</key>
	<real>0.1</real>
</dict>
</plist>
