<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebugDisplayLocalNotificationsAsAlerts</key>
	<false/>
	<key>DebugDisplayHelpAtLaunch</key>
	<false/>
	<key>RadarDistance</key>
	<integer>200</integer>
	<key>CitiesController.MapRegionZoomDistance</key>
	<integer>900</integer>
	<key>CitiesController.CurrentCityDistanceThreshold</key>
	<integer>4</integer>
	<key>CitiesController.CurrentCityZoomThreshold</key>
	<integer>6</integer>
	<key>CitiesController.StationsZoomThreshold</key>
	<integer>1</integer>
	<key>CitiesController.CityGroupZoomMeters</key>
	<integer>200000</integer>
	<key>MaxRefreshDistance</key>
	<integer>2</integer>
	<key>DataUpdaterDelayBetweenQueues</key>
	<integer>45</integer>
	<key>StationStatusStalenessInterval</key>
	<integer>600</integer>
	<key>DisplayHelpAtLaunch</key>
	<true/>
	<key>WebpageURL</key>
	<string>http://www.bicyclette-app.fr</string>
	<key>SupportEmailAddress</key>
	<string>support@bicyclette-app.fr</string>
	<key>SupportWithLoveEmailAddress</key>
	<string>support+love@bicyclette-app.fr</string>
	<key>ProductsAndRewards</key>
	<dict>
		<key>fr.bicyclette_app.bicyclette.a.merci.1</key>
		<string>STORE_REWARD_1</string>
		<key>fr.bicyclette_app.bicyclette.a.merci.2</key>
		<string>STORE_REWARD_2</string>
		<key>fr.bicyclette_app.bicyclette.a.merci.3</key>
		<string>STORE_REWARD_3</string>
	</dict>
	<key>Store.DonationAlertDelay</key>
	<string>2100</string>
	<key>MapViewScaleView.MaxDistance</key>
	<integer>50</integer>
</dict>
</plist>
