<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<dict>
		<key>901</key>
		<dict>
			<key>codePostal</key>
			<string>75019</string>
		</dict>
		<key>903</key>
		<dict>
			<key>codePostal</key>
			<string>75013</string>
		</dict>
	</dict>
</dict>
</plist>
