<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>stations</key>
	<dict>
		<key>901</key>
		<dict>
			<key>codePostal</key>
			<string>75019</string>
		</dict>
		<key>903</key>
		<dict>
			<key>codePostal</key>
			<string>75013</string>
		</dict>
		<key>20045</key>
		<dict>
			<key>lat</key>
			<real>48.86377</real>
			<key>lng</key>
			<real>2.4098</real>
		</dict>
		<key>1006</key>
		<dict>
			<key>lat</key>
			<real>48.86285</real>
			<key>lng</key>
			<real>2.34968</real>
		</dict>
	</dict>
</dict>
</plist>
