---
layout: base
title: Bicyclette.app — La meilleure app pour les vélos en libre-service. — Gratuite sur l’App Store
---

{% include fr/header.html %}

<article>
<section class="description"> {% capture section %}
{% include fr/home/justamap.mdown %}
{% endcapture %} {{ section | markdownify }} </section>
<section class="description"> {% capture section %}{% include fr/home/alerts.mdown %}
{% endcapture %} {{ section | markdownify }} </section>

<section class="description" id="cities"> {% capture section %}
{% include fr/home/cities.mdown %}
{% endcapture %} {{ section | markdownify }} </section>

<section id="techdetails"> {% capture section %}
{% include fr/home/techdetails.mdown %}
{% endcapture %} {{ section | markdownify }} </section>

</article>
