---
layout: base
title: Bicyclette.app — La meilleure app pour les vélos en libre-service. — Gratuite sur l’App Store
---

<div id="center"> {% include fr/header.html %} </div>

<section class="right"> <div id="center"> 
{% capture section %}
{% include fr/home/justamap.mdown %}
{% endcapture %} {{ section | markdownify }}
</section>
<section class="left"> <div id="center">
{% capture section %}{% include fr/home/alerts.mdown %}
{% endcapture %} {{ section | markdownify }}
</div></section>

<section class="right"> <div id="center">
{% capture section %}
{% include fr/home/cities.mdown %}
{% endcapture %} {{ section | markdownify }}
</div></section>

<section class="left"> <div id="center">
{% capture section %}
{% include fr/home/techdetails.mdown %}
{% endcapture %} {{ section | markdownify }}
</div></section>
